body
{
    font-family: "Montserrat";
}
h1
{
    color: #BBE1FA;
    /* font-family: 'Rouge Script', cursive; */
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#title
{
    background-color: #0F4C75;
    padding: 7% 15%;
}
#features
{
    /* background-color: #0F4C75; */
    margin: auto;

}
#img-iphone
{
    max-width: 350px;
    transform: rotate(16deg);
}

.container-fluid
{
    padding: 3%  15%;
}
.navbar-dark .navbar-brand
{
    color: #EEEEEE;
}
.navbar
{
    /* padding-bottom: 4.5rem; */
    padding: 0 0 4.5rem;
}
.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}
.nav-item
{
    padding: 0 2rem;
}
.nav-link
{
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.download-button
{
    margin: 5% 3% 5% 0;
}

.color-icons
{
    color: black;
}

.feature-box
{
    text-align: center;
}
